<div class="sticky-header-padding">
    <div class="bg-white">
        <div class="pt-6">
            <div class="max-w-2xl mx-auto px-4 flex items-center space-x-2 sm:px-6 lg:max-w-7xl lg:px-8 mb-2">
                <h1 class="font-semibold text-4xl"><%= @material.name %></h1>
            </div>
            <div class="max-w-2xl mx-auto px-4 flex justify-end items-center space-x-2 sm:px-6 lg:max-w-7xl lg:px-8 cursor-pointer">
                <div class="star-icon">
                    <%= render "layouts/favourite_star", favourited: favourited?(@material), favourite: get_favourite(@material), material: @material %>
                </div>
                <span>Favourite</span>
            </div>
            <div class="mt-6 max-w-2xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
                <div class="aspect-auto overflow-hidden block">
                    <%= image_tag @material.image, class: "w-full h-full object-center object-cover" %>
                </div>
            </div>
            <%= render "material_info" %>
            <div class="max-w-2xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
                <hr>
            </div>
        </div>
    </div>
</div>


<%= render "material_description_modal" %>
