<div class="container mx-auto p-8">
    <h2 class="pb-2">Materials/Door trim</h2>
    <ul role="list" class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
        <% @materials.each do |material| %>
            <li class="relative">
                <%= link_to material_path(material) do %>
                    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-red-500 overflow-hidden hover:opacity-75">
                        <%= image_tag material.image, class: "object-cover pointer-events-none group-hover:opacity-75" %>
                        <button type="button" class="absolute inset-0 focus:outline-none">
                            <span class="sr-only">View details</span>
                        </button>
                        <div class="flex flex-row-reverse p-2 text-gray-500">
                            <svg 
                                data-controller="favourites"
                                data-action="click->favourites#favourite"
                                data-favourited="<%= favourited?(material) %>"
                                data-favourited-colour="#14b8a6"
                                data-material-id="<%= material.id %>"
                                data-favourite-id="<%= get_favourite_id(material) %>"
                                xmlns="http://www.w3.org/2000/svg" 
                                fill="<%= favourited?(material) ? '#14b8a6' : 'none' %>" 
                                viewBox="0 0 24 24" 
                                stroke-width="1.5" 
                                stroke="currentColor" 
                                class="w-6 h-6 cursor-pointer"
                            >
                                <path 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round" 
                                    d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" 
                                />
                            </svg>
                        </div>
                    </div>
                    <h4 class="mt-2 block font-medium text-gray-900 truncate pointer-events-none"><%= material.name %></h4>
                <% end %>
                <table class="text-sm pointer-default w-full">
                    <tbody>
                        <tr class="border-b hover:bg-gray-100 whitespace-nowrap">
                            <td class="text-gray-500">Thickness: </td>
                            <td class="text-right"><%= material.thickness %></td>
                        </tr>
                        <tr class="border-b hover:bg-gray-100 whitespace-nowrap">
                            <td class="text-gray-500">Width: </td>
                            <td class="text-right"><%= material.width %></td>
                        </tr>
                        <tr class="border-b hover:bg-gray-100">
                            <td class="text-gray-500">Water tightness: </td>
                            <td class="text-right whitespace-nowrap"><%= material.water_tightness %></td>
                        </tr>
                        <tr class="border-b hover:bg-gray-100">
                            <td class="text-gray-500">Burglar resistance: </td>
                            <td class="text-right whitespace-nowrap"><%= material.burglar_resistance %></td>
                        </tr>
                        <tr class="hover:bg-gray-100">
                            <td><%= material.application %></td>
                        </tr>
                    </tbody>
                </table>
            </li>
        <% end %>
    </ul>
</div>

